<?xml version="1.0"?>
<!--
/**
 * GreenArt_NewTab extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE_EASYLIFE_BREADCRUMBS.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category       GreenArt
 * @package        GreenArt_NewTab
 * @author         Stefan Iurasog
 * @email          office[at]green-art.ro
 * @copyright      Copyright (c) 2017
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="GreenArt_NewTab::GreenArt" title="GreenArt" module="GreenArt_NewTab" sortOrder="0" resource="GreenArt_NewTab::GreenArt"/>
        <add id="GreenArt_NewTab::GreenArt_Level_02" title="GreenArt Level 2" translate="title" module="Magento_Catalog" sortOrder="10" parent="GreenArt_NewTab::GreenArt" action="greenart/index/index/" resource="Magento_Catalog::products"/>
        <add id="GreenArt_NewTab::catalog_products" title="Catalog" translate="title" module="Magento_Catalog" sortOrder="10" parent="GreenArt_NewTab::GreenArt" action="catalog/product/" resource="Magento_Catalog::products"/>
    </menu>
</config>
